@import "galaxyvariablesstyle";

header {
  width: 200px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  @include flex();
  @include align-items-center();
  @include flex-coldirection();
  @include stylescroll($darkredbase,$darktiny);
  -ms-flex-negative: 0;
  flex-shrink: 0;
  background: $darklarge;
  border-right: 2px solid $darkredhover;
  -webkit-animation: left 1s both;
  animation: left 1s both;
  @include mediaMaxW(768px){
    width: 100%;
    border: none;
    position: -webkit-sticky;
    position: sticky;
    overflow: unset;
    top: 0;
    z-index: 1000;
    @include flex();
    @include align-items-center();
    @include justify-content-between();
    @include flex-rowdirection();
    @include flex-wrap();
    padding: 0 3vw;
    -webkit-animation: top 1s both;
    animation: top 1s both;
  }

  .container-header-logo{
    font-size: 15px;
    color: #fff;
    font-weight: 600;
    text-align: center;
    height: 68px;
    line-height: 68px;
    letter-spacing: 2px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background: $darkmiddle;
    a.logo{
      text-decoration: none;
      color: inherit;
    }
    @include mediaMaxW(768px){
      background: inherit;
      height: 80px;
      line-height: 80px;
      width: auto;
      font-size: 24px;
    }
  }
  .container-header-nav{
    width: 200px;
    @include flex();
    @include align-items-start();
    @include justify-content-center();
    @include flex-coldirection();
    height: 100vh;
    @include mediaMaxW(768px){
      display: none;
      width: 100%;
      height: calc(100vh - 80px);
      text-align: center;
      @include align-items-center();
    }
  }
}

.container-header-info{
  display: none;
  @include mediaMaxW(768px){
    @include flex();
    @include justify-content-between();
    @include align-items-center();
    width: 66%;
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
  }
  .info-item{
    @include flex();
    @include align-items-center();
    a{
      color: #dc3545;
      text-decoration: none;
      font-size: 1.5rem;
      &:hover{
        color: $linkcolor;
      }
    }
  }
}

.nav-item{
  width: 100%;
  padding: 10px 15px;
  color: $whitetext;
  font-size: $size16;
  text-decoration: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  margin: 5px;
  @include mediaMaxW(768px){
    text-align: center;
    width: auto;
    padding: 22px 18px;
    border: 1px solid transparent;
    font-size: $size20;
    color: $whitetext;
  }
  @include mediaMinW(768px){
    &:hover{
      background: $darkredhover;
      color: $linkcolor;
      -webkit-transition: $transition-duration;
      -o-transition: $transition-duration;
      transition: $transition-duration;
      color: inherit;
      text-decoration: none;
    }
  }
  &:hover{
    text-decoration: none;
    border-color: $darkredbase;
    border-radius: 15px;
    color: inherit;
  }
  &-active{
    background: $darkredhover;
    color: $linkcolor;
    &:hover{
      background: $darkredbase;
    }
  }
}

.menu-btn {
  @include mediaMinW(769px){
    display: none;
  }
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 80px;
  cursor: pointer;
  transition: all .5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu-btn__burger {
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before,
.menu-btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menu-btn__burger::before {
  transform: translateY(-16px);
}
.menu-btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu-btn.open .menu-btn__burger {
  transform: translateX(0px);
  background: transparent;
  box-shadow: none;
}
.menu-btn.open .menu-btn__burger::before {
  transform: rotate(45deg);
}
.menu-btn.open .menu-btn__burger::after {
  transform: rotate(-45deg);
}