@charset "UTF-8";
@import "galaxyvariablesstyle";
@import "headerstyle";
@import "footerstyle";

main{
 width: 100%;
 .container-main{
  @include flex();
  @include flex-coldirection();
  @include justify-content-start();
  width: 100%;
  height: 100vh;
  animation: top 1s both;

  &-main{
   width: 100%;
   height: auto;
   @include flex();
   @include flex-coldirection();
   @include align-items-start();
   padding: 25px;
   @include stylescroll($darkredbase,$darktiny);
   @include mediaMaxW(768px){
    overflow: inherit !important;   }
   h2{
    @include styletitle();
   }
  }

  &-services{
   width: 100%;
   height: auto;
   @include flex();
   @include flex-coldirection();
   @include align-items-start();
   padding: 25px;
   @include stylescroll($darkredbase,$darktiny);
   @include mediaMaxW(768px){
    overflow: inherit !important;   }
   h2{
    @include styletitle();
   }
  }

  &-debtors{
   width: 100%;
   height: auto;
   @include flex();
   @include flex-coldirection();
   @include align-items-start();
   padding: 25px;
   @include stylescroll($darkredbase,$darktiny);
   @include mediaMaxW(768px){
    overflow: inherit !important;   }
   h2{
    @include styletitle();
   }
  }

  &-info{
   width: 100%;
   height: 68px;
   line-height: 68px;
   background: $darkmiddle;
   @include flex();
   @include flex-rowdirection();
   @include align-items-center();
   @include justify-content-end();
   padding-right: 4vw;
   @include mediaMaxW(768px){
    line-height: 1;
    @include justify-content-between();
    padding: 5px 3vw;
   }
   .info-item{
    margin-left: 2rem;
    @include flex();
    @include align-items-center();
    @include mediaMaxW(768px){
     margin: 0;
     font-size: 14px;
    }
    a{
     color: inherit;
     text-decoration: none;
     &:hover{
      color: $linkcolor;
     }
     p{
      margin: 0;
     }
    }
   }
   .btn-danger{
    margin-left: 2rem;
    @include mediaMaxW(768px){
     margin: 0;
     width: min-content;
     line-height: 1;
    }
   }
  }

  &-aboutus{
   width: 100%;
   height: auto;
   @include flex();
   @include flex-coldirection();
   @include align-items-start();
   padding: 25px;
   @include stylescroll($darkredbase,$darktiny);
   @include mediaMaxW(768px){
    overflow: inherit !important;   }
   h2{
    @include styletitle();
   }
  }

  &-contacts{
   width: 100%;
   height: auto;
   @include flex();
   @include flex-coldirection();
   @include align-items-start();
   padding: 25px;
   @include stylescroll($darkredbase,$darktiny);
   @include mediaMaxW(768px){
    overflow: inherit !important;
   }
   h2{
    @include styletitle();
   }
  }

  &-position{
   width: 100%;
   height: auto;
   @include flex();
   @include flex-rowdirection();
   @include justify-content-center();
   @include align-items-center();
   @include flex-wrap();
  }

 }
}

.ymaps-layers-pane {
 -ms-filter: grayscale(1);
 -webkit-filter: grayscale(1);
 -moz-filter: grayscale(1);
 -o-filter: grayscale(1);
 filter: grayscale(1);
}

.ymaps-map{
 border-bottom-left-radius: 15px;
 border-bottom-right-radius: 15px;
}

.container-main-item{
 min-width: 300px;
 width: calc(50% - ((10px + 2px)*2));
 max-width: 600px;
 height: auto;
 margin: 10px;
 position: relative;
 padding: 1.5vw;
 border: 1px solid transparent;
 border-radius: 15px;
 transition: $transition-duration;
 @include mediaMaxW(768px){
  width: 100%;
 }
 &:hover{
  border: 1px solid white;
  border-radius: 15px;
 }

 .discount{
  @include flex();
  @include align-items-center();
  &-wrapper{
   svg{
    width: 5vw !important;
    height: 4vw;
    color: $whitetext;
    min-width: 50px;
    min-height: 50px;
   }
  }
 }

 .title{
  margin-right: 2.5vw;
 }

 .landmark{
  @include flex();
  @include align-items-center();
  &-wrapper{
   svg{
    width: 5vw !important;
    height: 4vw;
    color: $whitetext;
    min-width: 50px;
    min-height: 50px;
   }
  }
 }

 .dock{
  @include flex();
  @include align-items-center();
  &-wrapper{
   a{
    text-decoration: none;
    outline: none;
    border: none;
    svg{
     width: 5vw !important;
     height: 4vw;
     color: $whitetext;
     min-width: 50px;
     min-height: 50px;
    }
   }
  }
 }
}

.main-item{
 @include justify-content-between();
}

.container-contacts-item{
 width: 100%;
 margin: 1.5vw;
 padding: 1.5vw;
 height: fit-content;
 background: $darklarge;
 border-radius: 15px;
 box-shadow: 0 0 5px;
 @include flex();
 @include align-items-center();
 @include flex-coldirection();
 @include mediaMaxW(768px){
  margin: 10px 0;
 }
 &:hover{
  transform: translateY(5px);
  transition: $transition-duration;
 }
 text-align: center;
 &:nth-child(1){
  width: 29%;
 }
 &:nth-child(2){
  width: 29%;
 }
 &:nth-child(3){
  width: 29%;
 }
 &:last-child{
  padding:1.5vw 0 0;
 }
 #map{
   border-radius: 15px;
 }
 h3{
  font-size: $size20;
  margin-bottom: 1rem;
  color: $linkcolor;
 }
 a{
  color: $whitetext;
  font-size: $size16;
  font-family: "OpenSans-Regular", sans-serif;
  text-decoration: none;
  &:hover{
   color: $darkredbase;
  }
 }
 @include mediaMaxW(768px){
  width: 100% !important;
 }
}

.container-services-item{
 min-width: 300px;
 width: calc(50% - ((10px + 2px)*2));
 max-width: 600px;
 height: auto;
 margin: 10px;
 position: relative;
 padding: 1.5vw;
 border: 1px solid transparent;
 border-radius: 15px;
 transition: $transition-duration;
 @include mediaMaxW(768px){
  width: 100%;
 }
 &:hover{
  border: 1px solid white;
  border-radius: 15px;
 }
 .header-section{
  @include flex();
  @include align-items-center();
  margin-bottom: 1rem;
  svg{
   width: 5vw !important;
   height: 4vw;
   color: $whitetext;
  }
  h3{
   font-weight: 600;
   font-size: $size20;
   margin-left: 2rem;
   font-family: "OpenSans-SemiBold", sans-serif;
  }
 }
 p{
  font-size: $size16;
  margin-bottom: .5rem;
  font-family: "OpenSans-Regular", sans-serif;
 }
}

.container-debtors-item{
 box-shadow: 0 0 5px;
 border-radius: 15px;
 padding: 25px;
 @include flex();
 @include justify-content-between();
 @include align-items-center();
 @include mediaMaxW(768px){
  @include flex-coldirection();
 }
 .debtor{
 margin-right: 75px;
  @include mediaMaxW(768px){
   margin: 0;
  }
  .title{
   font-size: $size28;
   line-height: 1.5;
   font-family: "OpenSans-SemiBold", sans-serif;
   text-align: center;
  }
  .subtitle{
   border-bottom: 1px solid $darkredhover;
   h3{
    font-size: $size20;
    line-height: 1.2;
    margin: 1rem 0;
    font-family: "OpenSans-Regular",sans-serif;
   }
  }
  .text-content{
   font-size: $size14;
   line-height: 1.2;
   @include flex();
   @include justify-content-between();
   border-bottom: 1px solid $whitetext;
   p:first-child{
    margin: 1rem 0;
    font-family: "OpenSans-SemiBold",sans-serif;
    font-weight: 600;
   }
   p:last-child{
    margin: 1rem 0 1rem 1rem;
    cursor: pointer;
   }
  }
 }
 .debtor-qr{
  img{
   min-width: 100px;
   width: 20vw;
   max-width: 250px;
   height: auto;
  }
 }
}

.modal-content{
 background: $darktiny;
 .modal-header{
  border: none;
  color: $whitetext;
  text-align: center;
  position: relative;
 }
 .close{
  position: absolute;
  color: $linkcolor;
  top: 0;
  right: 0;
  margin: 0 ;
 }
}
.modal-backdrop{
 z-index: -1;
}

.container-questions {
 @include flex();
 @include flex-coldirection();
 @include align-items-center();
 @include justify-content-start();
 height: fit-content;
 @include mediaMaxW(768px){
  background: none;
  height: fit-content;
 }
 .container-form-items{
  @include flex();
  @include flex-coldirection();
  @include align-items-center();
  max-width: 320px;
  label{
   @include styletext();
  }
  input[type="email"],input[type="text"],input[type="tel"]{
   @include styleinput();
  }
  textarea{
   @include styletextarea();
  }
  span{
   @include styletext();
  }

  .custom-checkbox{
   margin-bottom: 2vw;
  }

  .custom-checkbox > input {
   position: absolute;
   z-index: -1;
   opacity: 0;
  }

  .custom-checkbox > span {
   display: inline-flex;
   @include align-items-center();
   user-select: none;
   margin: 0;
   text-align: left;
   color: #999;
   font-size: $size16;
   padding: 0;

   &::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 1px solid #adb5bd;
    border-radius: 0.25em;
    margin-right: 1.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
   }
  }

  .custom-checkbox > input:not(:disabled):not(:checked) + span:hover::before {
   border-color: $darkredbase;
  }

  .custom-checkbox > input:not(:disabled):active + span::before {
   background-color: $darkredbase;
   border-color: $darkredbase;
  }

  .custom-checkbox > input:focus + span::before {
   box-shadow: 0 0 0 0.2rem $darkredbasergba;
  }

  .custom-checkbox > input:focus:not(:checked) + span::before {
   border-color: $darkredbase;
  }

  .custom-checkbox > input:checked + span::before {
   border-color: $darkredhover;
   background-color: $darkredhover;
   background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
  }

  .custom-checkbox > input:disabled + span::before {
   background-color: #e9ecef;
  }
 }
}

.discount{
 @include flex();
 @include align-items-center();
 .title{
  margin-right: 2.5vw;
  h2{
   margin-bottom: 1rem;
   font-weight: 600;
   font-size: $size35;
   font-family: "OpenSans-SemiBold", sans-serif;
  }
 }
}

.circle {
 width: 100px;
 height: 100px;
 border: 3px solid #5b5f78;
 border-radius: 50%;
 position: relative;
}

.pie {
 position: relative;
 width: 120px;
 height: 120px;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%) rotate(-90deg);
 svg circle {
  fill: transparent;
  stroke: $darkredbase;
  stroke-width: 7;
  stroke-dasharray: 275;
  stroke-dashoffset: 235;
  animation: pieChart 3.8s linear forwards;
 }
}

@keyframes pieChart {
 100% {
  stroke-dashoffset: 0;
 }
}

.counter {
 position: absolute;
 left: 50%;
 top: 50%;
 transform: translate(-50%, -50%);
 color: $whitetext;
 font-weight: 500;
}

.message{
 color: rgb(255, 255, 255);
 background-color: rgba(0, 0, 0, 0.9);
 position: absolute;
 overflow: hidden;
 height: 116px;
 padding: 16px 25px 16px 16px;;
 border-radius: 16px;
 right: 25px;
 animation: left 2s both;
 &-header{
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  position: relative;
  p{
   margin: 0;
   font-family: "OpenSans-Regular",sans-serif;
   font-weight: 400;
   text-transform: lowercase;
   font-size: 10px;
  }
  span{
   cursor: pointer;
   font-size: 15px;
   position: absolute;
   top: -4px;
   right: -16px;
  }
 }
 &-content{
  font-size: 16px;
  font-family: "OpenSans-SemiBold",sans-serif;
  margin: .5rem 0;
 }
 &-info{
  font-size: 12px;
 }
}

#callbackForm_forms_flash{
 display: none;
 .alert-success{
  padding: 10px 20px;
  text-align: center;
  color: $colorwa;
  background: $darkmiddle;
  border: 1px solid $colorwa;
  margin: 0 auto;
  p{
   margin: 0;
  }
   .close{
    display: none;
   }
 }
}