<div id="{{ __SELF__ }}_forms_flash"></div>
<form class="container-questions" data-request="{{ __SELF__ }}::onFormSubmit">
    {{ form_token() }}
    <div class="container-form-items">
        <label for="name">Ваше имя и фамилия</label>
        <input id="name" required name="name" type="text" class="header-modal-input first-child" pattern="^[А-Яа-яЁё\s]+$">
        <label for="email">Ваш e-mail</label>
        <input id="email" required name="email" type="email" class="header-modal-input" pattern="([A-z0-9_.-]{1,})@([A-z0-9_.-]{1,}).([A-z]{2,8})">
        <label for="phone">Ваш контактный номер</label>
        <input id="phone" required name="phone" type="tel" class="header-modal-input">
        <label for="message">Текст вопроса</label>
        <textarea id="message" name="message" class="header-modal-textarea"></textarea>
        <label class="custom-checkbox">
            <input id="checkbox" name="accept" type="checkbox">
            <span>Даю согласие на обработку персональных данных</span>
        </label>
        <button id="butdis simpleContactSubmitButton" class="btn btn-info" type="submit">Отправить</button>
    </div>
</form>